* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family:'Courier New', Courier, monospace
    
}

.container-fluid {
    height: 25vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(59, 142, 198);
    color: white;
    text-align: center;
}

header .park-finder {
    color: white;
}

.weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

  .windspeed {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

#inpt{
    line-height: 30px;
    background-color: white;  
}
button.btn {
    color:black;
    background-color: white;
}
/* added hover color to search button */
button.btn:hover{
    background-color: rgb(25, 48, 164);
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.card {
    float: left;
    left: 2vw;
    top: 5vh;
    position: absolute;
    display: -ms-flexbox;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 85%;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #146ec2;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;} */
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #f2f2f2;
    text-align: left;
    background-color: #146ec2;
    color: white;
  }

  #weather {
    width: 40%;
    float: left;
  }

  #fivedays {
    width: 60%;
    float: left;
  }
