* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family:'Courier New', Courier, monospace
    
}

.container-fluid {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(59, 142, 198);
    color: white;
    text-align: center;
}

header .park-finder {
    color: white;
}

.weather {
    display: flex; 
    align-items: center;
    margin: 15px 0;
    font-size: 1.5rem;
  }

  #location {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  }
  .desc {
    font-size: 1.25rem;
    text-transform: capitalize;
  }

#inpt{
    line-height: 30px;
    background-color: white;  
}
button.btn {
    color:black;
    background-color: white;
}
/* added hover color to search button */
button.btn:hover{
    background-color: rgb(25, 48, 164);
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

